.white{
    background-color: white;
}

.update-btn{
    background-color: #008000d6;
    color: white;
    padding: 5px 50px;
    
}
.delete-btn{
    background-color: #ff0000d4;
    color: white;
    padding: 5px 50px;
}