.grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 25px;
    margin-left: 20px;
    margin-right: 20px;
 
}


.in-margin{
    margin-top: 10%;
   
}

@media screen and (max-width: 650px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
    }

    .in-margin{
        margin-top: 35%;
    }
}